.projectsCentered {
  min-height: 100%;
  width: 85%;
  margin: 0 auto;
}

.project-card {
  width: 300px;
  height: 300px;
  overflow-y: auto;
  margin: 10px;
}

.mctitle {
  min-width: 200px;
  text-align: left;
}

.mcsubtitle {
  min-width: 200px;
  text-align: left;
}

.mctitle button{
  position: absolute;
  float: right;
  right: 5px;
}

.mcheader {
  width: 100%;
  margin: 0 10px;
  min-height: 100px;
}

.example-header-image {
  background-size: cover;
}


.mcimage {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  height: 100px;
}

