<div class="projectsCentered">
  <h2>Projects Highlights</h2>
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="10px"
    fxLayoutAlign="space-evenly start">

    <div *ngFor="let item of items">
      <div fxFlex="0 1 calc(25% - 10px)"
                fxFlex.lt-md="0 1 calc(50% - 10px)"
                fxFlex.lt-sm="100%">
          <mat-card class="project-card">
            <mat-card-header class="mcheader">
              <mat-card-title class="mctitle" fxLayout="row" fxLayoutAlign="space-between start" >
                <span fxFlex="85%">{{ item.name }}</span>
                <button mat-mini-fab color="primary">
                  <mat-icon fxFlex="flex-end">thumb_up</mat-icon>
                </button>

              </mat-card-title>
              <mat-card-subtitle class="mcsubtitle">{{ item.company }}</mat-card-subtitle>
              <img mat-card-avatar class="example-header-image" src="{{ item.avatar }}" />
            </mat-card-header>
          <img mat-card-image src="{{ item.image }}" class="mcimage">
          <mat-card-content class="matcontent">

            <my-readmore [text]="item.description" [maxLength]="120"></my-readmore>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
