@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.contactme {
  width: 100%;
  color: white;
  background-color: cornflowerblue;
  height: 300px;
  padding: 25px;
}

.full-width {
  width: 50%;
}
