<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--<nav>-->
    <!--<a routerLink="/my-contact">Contact Me</a>-->
  <!--</nav>-->

  <section>
    <my-page></my-page>
  </section>
  <section>
    <my-projects></my-projects>
  </section>
  <section>
    <my-career></my-career>
  </section>
  <section>
    <my-thoughts></my-thoughts>
  </section>
  <section>
    <my-contact></my-contact>
  </section>
  <!--<router-outlet></router-outlet>-->

</div>

