/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
}

section {
  // height: 100vh;
  margin-top: 25px;
}

body {
  // scroll-snap-type: y proximity;
  color: #4a4a4a;
  background-color: whitesmoke;
  font-family: 'Museosans 900', sans-serif;
}

